body {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

.productName {
  font-weight: bolder;
  text-transform: uppercase;
}
